* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #fff;
}

header {
    color: #fff;
    padding: 30px 0;
    text-align: center;
    margin-bottom: 20px;
    color: #000;
}

a{
    color: #000;
    text-decoration: none;
}

a:hover{
    color: #e8c0ff;
}

h1{
    color: #000;
    font-weight: 500;
    font-family: "Great Vibes", cursive;
}

.Cabeçalho{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    background-color:#cea8f5;
    text-align: center;
    align-items: center;
    font-size: large;
    border-bottom: 1px solid #ddd;
}

#div_sobre{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 1fr;
}

#catalogo{
    padding-top: 100px;
    text-align: center;
}

.catalogo_principal{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    background-color: #cea8f5;
    text-align: center;
    align-items: center;
    border-radius: 50px;
    margin: 5vh;
}

.div_produto{
    background-color: white;
    width: 350px;
    height: 350px;
    margin: 5vh;
    border-radius: 20px;
}

.div_feed{
    width: 50vh;
    height: 10vh;
}

.contato{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    background-color: #cea8f5;
    text-align: center;
    align-items: center;
    height: 100px;
    border-radius: 50px;
    margin: 5vh;
}

.text_contato{
    color: #8061d7;
    font-size: 70px;
}

.style_text_contato{
    display: flex;
    align-items: center;
    margin-left: 200px;
}

.icones{
    height: 40px;
}

#instagram{
    padding-top: 100px;
    text-align: center;
}

#contato_ancora{
    padding-top: 100px;
    text-align: center;
}
#localização{
    padding-top: 100px;
    text-align: center;
}



.Rodape{
    height: 40px;
    background-color: #e8c0ff;
    color:#000;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.texto_sobre{
    text-align: center;
    margin: auto;
}

.img_logo{
    width: 100px; /* Largura desejada */
    height: 100px; /* Altura desejada (igual à largura para ser um círculo) */
    border-radius: 100%; /* Torna a imagem redonda */
    object-fit: cover; /* Ajusta a imagem dentro do contêiner */
    border:solid #8061d7
}

.img_whatsapp{
    width: 80px; /* Largura desejada */
    height: 80px; /* Altura desejada (igual à largura para ser um círculo) */
    border-radius: 50%; /* Torna a imagem redonda */
    object-fit: cover; /* Ajusta a imagem dentro do contêiner */
    border: 5px solid darkgreen;
}

.foto{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    max-width: 800px;
}

.img_produto{
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin: 25px;
    border:solid #8061d7;
}

.slider {
    position: relative;
    max-width: 600px;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 15px;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
}

.slide {
    min-width: 100%;
    transition: 0.5s;
}

.slide img {
    width: 100%;
    height: auto;
    display: block;
  }

.navigation {
    position: absolute;
    width: 100%;
    top: 50%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    padding: 0 20px;
}

.nav-btn{
    background-color: transparent;
    border: none;
    color: #8061d7;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
}

.nav-btn:hover {
    background-color: #cea8f5;
}

@media only screen and (max-width: 960px) {
    .sobre{
        display: none;
    }
    .catalogo{
        display: none;
    }
    .contato_cabe{
        display: none;
    }
    .localizacao_cabecalho{
        display: none;
    }
    .Cabeçalho{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    background-color:#cea8f5;
    text-align: center;
    justify-items: end; 
    align-items: center;
    font-size: large;
    border-bottom: 1px solid #ddd;
    }
    .img_whatsapp{
        margin:20px;
        border-radius: 50%;
        border: 5px solid darkgreen;
    }
    .img_logo{
        margin: 20px;
        margin-right: 250px;

    }

    .catalogo_principal{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 1fr;
        background-color: #cea8f5;
        text-align: center;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        margin: 5vh;
    }
    
    .contato{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        background-color: #cea8f5;
        text-align: center;
        align-items: center;
        height: 100px;
        border-radius: 50px;
        margin: 5vh;
    }
    
    #div_sobre{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: 1fr;
    }

    .div_produto{
        margin-left: 90px;
    }

    .text_contato{
        color: #8061d7;
        font-size: 30px;
    }

    .style_text_contato{
        display: flex;
        align-items: center;
        margin-left: 10px;
    }
}




